@import "tailwindcss";

@theme {
  --color-sidebar: #101f33;
  --color-sidebarHover: #1b2c45;
  --color-brandBlue: #0e73f6;
  --color-bgLight: #f4f7fb;
  --color-textMain: #1f2937;
  --color-textMuted: #6b7280;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;
}

body {
  background-color: var(--color-bgLight);
  color: var(--color-textMain);
}
